<div class="dao-container flex items-center flex-col gap-8 relative">
  <div class="dao-title gap-8 flex flex-col relative">
    <div>
      <h1 id="dao-title" class="text-moon-32 font-bold">{{dao-title}}</h1>

    </div>
    <div class="flex gap-4 justify-between tabs">
      <div class="flex">
        <a href="/?q=All" class="DonationBarLink tab block px-3 py-2 active">All</a>
        <a href="/?q=Today" class="DonationBarLink tab block px-3 py-2">Today</a>
        <a href="/?q=This%20Month" class="DonationBarLink tab block px-3 py-2">This Bonth</a>
      </div>
      <div style="flex-direction: row-reverse;display: flex;" class="gap-2">

      </div>
    </div>
  </div>
  <div class="dao-divider">
  </div>
  <div class="flex flex-col gap-8">
    <img id="dao-image" src="{{dao-image}}" />
  </div>
  <div class="flex flex-col gap-8" id="goal-container">

  </div>
</div>

<style>
  #dao-title {
    width: 78%;
  }

  #iqji {
    width: 135px;
    position: absolute;
    right: 0rem;
    top: 0px;
  }

  #ildp {
    width: 135px;
  }

  #iyblw {
    width: 140px;
  }

  #iiust {
    width: 175px;
  }
</style>
