.section {
  width: 100%;

  @media (min-width: 1238px) {
    height: calc(100vh);

    &:first-of-type {
      height: calc(100vh - 85px);
    }
  }

  @media (max-width: 1238px) {
    flex-direction: column;
  }

  display: flex;
  width: 100%;
  color: var(--foreground);
  display: flex;
}

.section-dark {
  background: #141414;
  color: white;
}

.text {
  @media (min-width: 320px) {
    padding: 5vw;
    zoom: 0.6;
  }
  @media (min-width: 375px) {
    zoom: 0.7;
  }
  @media (min-width: 425px) {
    zoom: 0.8;
  }
  @media (min-width: 768px) {
    zoom: 1;
  }

  @media (min-width: 1238px) {
    width: 50%;
  }
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text > * {
  width: 100%;
  max-width: 574px;
}

.text > .logo {
  text-align: center;
  display: flex;
  justify-content: center;
}

.image {
  width: 50%;
  position: relative;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1238px) {
    display: none;
  }
}
