<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/blend2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/blend1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blend"
        tools:targetApi="31">


        <activity
            android:name="Model.blend.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add SignInSignUpActivity entry -->
        <activity android:name="Model.blend.SignInSignUpActivity" /> <!-- Add NicknameActivity entry -->
        <activity android:name="Model.blend.NicknameActivity" /> <!-- Add CreateFaceMeshActivity entry -->
        <activity android:name="Model.blend.CreateFaceMeshActivity" />
        <activity android:name="Model.blend.ProfileActivity"/>
        <activity android:name="Model.blend.ComputationInProgressActivity"/>
        <activity android:name="Model.blend.PreviewActivity"/>
        <activity android:name="Model.blend.ViewerActivity"/>


        <receiver
            android:name="Model.blend.ProfileActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>