/* Fonts */
@import './font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-background text-foreground font-unbounded;
  }
}

/* Spinner Keyframes */
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

