:root {
    --topic-body-width: 690px;
    --topic-body-width-padding: 11px;
    --topic-avatar-width: 45px;
    --tw-shadow: 0 0 0 var(--border-width) #d0d0d0 inset;
    --d-border-radius: initial;
    --d-nav-pill-border-radius: var(--d-border-radius);
    --d-button-border-radius: var(--d-border-radius);
    --d-input-border-radius: var(--d-border-radius)
}

:root {
    --base-font-size-smallest: 0.815em;
    --base-font-size-smaller: 0.875em;
    --base-font-size: 0.938em;
    --base-font-size-larger: 1.063em;
    --base-font-size-largest: 1.118em;
    --font-up-6: 2.296em;
    --font-up-5: 2em;
    --font-up-4: 1.7511em;
    --font-up-3: 1.5157em;
    --font-up-2: 1.3195em;
    --font-up-1: 1.1487em;
    --font-0: 1em;
    --font-down-1: 0.8706em;
    --font-down-2: 0.7579em;
    --font-down-3: 0.6599em;
    --font-down-4: 0.5745em;
    --font-down-5: 0.5em;
    --font-down-6: 0.4355em;
    --font-up-3-rem: 1.5157rem;
    --font-up-2-rem: 1.3195rem;
    --font-up-1-rem: 1.1487rem;
    --font-0-rem: 1rem;
    --font-down-1-rem: 0.8706rem;
    --font-down-2-rem: 0.7579rem;
    --font-size-ios-input: 1.07em;
    --line-height-small: 1;
    --line-height-medium: 1.2;
    --line-height-large: 1.4
}


nav.post-controls {
    --control-margin: 0.33em;
    --control-icon-space: 0.33em;
}


nav.post-controls {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #bbb;
}

nav.post-controls .actions {
    display: inline-flex;
    text-align: right;
    margin-left: auto;
}

nav.post-controls .actions button {
    flex: 0 1 auto;
    font-size: var(--font-up-1);
    padding: 8px 10px;
    vertical-align: top;
    background: transparent;
    border: none;
}

nav.post-controls .actions button.create {
    margin-right: 0;
    color: var(--primary-high-or-secondary-low);
}

nav.post-controls .actions button.create {
    margin-left: calc(var(--control-margin) * 1.52);
}
.discourse-no-touch .topic-body .actions .fade-out {
    opacity: 0.7;
    transition: background 0.25s, opacity 0.7s ease-in-out;
}


.post-date {
    color: #9a9a9a;
}
span.d-button-label {
    color: black;
    margin-left: 0.2rem;
}

button.VoteType {
    width: 25%;
    padding: 0.8rem 2rem;
    background: white;
}

button.VoteType:hover {
    background: var(--btn-bg);
    color: white;
}

.voteTypeContainer {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    border-radius: 0.5rem;
    overflow: hidden;
    background: indianred;
    gap: 1px;
    display: flex;
}

button.VoteType.active {
    background: var(--btn-bg);
    color: white;
}
.tabContainer .title{
    font-family: sans-serif;
    color: #dc2d5e;
    text-align: center;
}
.tabContainer{
    width: 960px;
    height: 350px;
}
.tabContainer .buttonContainer{
    height: 15%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
        /* height: 85%; */
        background-color: gray;
        color: black;
        padding: 38px;
        box-sizing: border-box;
        font-family: sans-serif;
        display: none;
}


.top-section, .top-sub-section {
    margin-bottom: 20px;
}
.stats-title {
    text-transform: uppercase;
    margin-bottom: 0px;
    width: 100%;
    font-size: 1.17em;
    font-weight: 700;
    font-family: Ubuntu, Arial, sans-serif;
    padding-bottom: 8px;;
}
.stats-section ul {
    margin: 10px 0;
}
.stats-section li {
    display: inline-block;
    padding: 10px 14px 10px 0;
    margin: 0 10px 10px 0;
}
.stats-section .value {
    font-weight: bold;
    font-size: 1.3195rem;
}
.stats-section .label {
    color: #8e8e8e;
}
.user-stat {
    gap: 4px;
    display: flex;
    align-items: flex-end;
}

.top-sub-section {
    width: 50%;
}
.top-section, .top-sub-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}.top-section ul {
    list-style: none;
    margin: 0;
}.top-sub-section ul {
    max-width: 95%;
}.top-sub-section li {
    border-left: rgb(var(--beerus)) solid 2px;
    padding: 5px 8px;
    margin: 10px 0;
}.replies-section li, .topics-section li, .links-section li {
    word-wrap: break-word;
}.top-sub-section .topic-info {
    color: #8e8e8e;
}

.ember-view a {
    color: rgb(var(--hit));
}
.pull-left {
    float: left;
}

.topic-info .svg-icon,.topic-info .svg-icon-title {
    height: 1em;
    width: 1em;
    line-height: 1;
    display: inline-flex;
    position: relative;
    vertical-align: -0.125em;
    fill: currentColor;
    flex-shrink: 0;
    overflow: visible;
}



/* Badges */
.badge-group-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-gap: .5em;
    width: 100%;
    margin-bottom: 1.5em;
}
.badge-card {
    background-color: rgb(var(--goku));
    border: 1px solid rgb(var(--beerus));
    border-radius: 8px;
    position: relative;
    /* width: 20rem; */
}.badge-card .badge-contents {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5em 1.5em;
}.badge-card .badge-contents .badge-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}.badge-card .badge-contents .badge-info {
    color: var(--primary);
}.badge-card .badge-contents .badge-info h3 {
    margin-bottom: .25em;
    font-size: var(--font-up-1);
}.badge-card .badge-contents .badge-link {
    color: var(--primary);
    font-weight: bolder;
    font-size: 1.5rem;
}.badge-card .badge-contents .badge-icon.badge-type-gold .fa {
    color: #e7c300 !important;
}.badge-card .badge-contents .badge-icon svg {
    font-size: 3.5em;
        height: 1em;
    width: 1em;
    line-height: 1;
    display: inline-flex;
    position: relative;
    vertical-align: -0.125em;
    fill: currentColor;
    flex-shrink: 0;
    overflow: visible;
}
.badge-summary {
    padding-top: 0.5rem;
}
.ember-view a svg {
    color: #aeafaf;
}
.ember-view a.granted svg {
    color: rgb(var(--hit));
}