.light {
	/* Light theme */
	--background: #ffffff;
	--foreground: black;
	--link-text: #42a2a0;

	/* Header */
	--background-header: #171e43;
	--fg-header: #ffffff;
	--title-a-text: #41AED3;


	/* Button */
	--btn-bg: #ffffff;
	--btn-fg: #e2107b;
	--btn-sec-fg: #e2107b;
}

:root {
	--background: #FBF1E3;
    --foreground: black;
    --link-text: #fff;
    --background-header: #0e1125;
    --title-a-text: #41aed3;
    --btn-bg: #EC1F52;
    --btn-fg: #fff;
    --btn-sec-fg: #000;
}

:root,
:root.theme-moon-light,
.theme-moon-light {
  --piccolo: 78 70 180; /* #4e46b4 */
  --hit: 64 166 159; /* #40a69f */
  --beerus: 226 226 226; /* #e2e2e2 */
  --gohan: 255 255 255; /* #ffffff */
  --goten: 255 255 255; /* #ffffff */
  --goku: 245 245 245; /* #f5f5f5 */
  --bulma: 0 0 0; /* #000000 */
  --trunks: 153 156 160; /* #595D62 */
  --popo: 0 0 0; /* #000000 */
  --jiren: 78 70 180 / 0.12; /* #4e46b4 */
  --heles: 0 0 0 / 0.04; /* #000000 */
  --zeno: 0 0 0 / 0.56; /* #000000 */

  /* support-colors  */
  --krillin: 255 179 25; /* #ff9800 */
  --krillin-60: 255 179 25 / 0.56; /* #ff9800 */
  --krillin-10: 255 179 25 / 0.08; /* #ff9800 */

  --chichi: 255 78 100; /* #ff4e64 */
  --chichi-60: 255 78 100 / 0.56; /* #ff4e64 */
  --chichi-10: 255 78 100 / 0.08; /* #ff4e64 */

  --roshi: 46 125 50; /* #2e7d32 */
  --roshi-60: 46 125 50 / 0.56; /* #2e7d32 */
  --roshi-10: 46 125 50 / 0.08; /* #2e7d32 */

  --dodoria: 236 31 82; /* #EC1F52 */
  --dodoria-60: 211 48 48 / 0.56; /* #d33030 */
  --dodoria-10: 211 48 48 / 0.08; /* #d33030 */

  --cell: 149 241 213; /* #95f1d5 */
  --cell-60: 149 241 213 / 0.56; /* #95f1d5 */
  --cell-10: 149 241 213 / 0.08; /* #95f1d5 */

  --raditz: 179 128 74; /* #b3804a */
  --raditz-60: 179 128 74 / 0.56; /* #b3804a */
  --raditz-10: 179 128 74 / 0.08; /* #b3804a */

  --whis: 132 144 249; /* #3448f0 */
  --whis-60: 132 144 249 / 0.56; /* #3448f0 */
  --whis-10: 132 144 249 / 0.08; /* #3448f0 */

  --frieza: 92 51 207; /* #5c33cf */
  --frieza-60: 92 51 207 / 0.56; /* #5c33cf */
  --frieza-10: 92 51 207 / 0.08; /* #5c33cf */

  --nappa: 114 85 80; /* #725550 */
  --nappa-60: 114 85 80 / 0.56; /* #725550 */
  --nappa-10: 114 85 80 / 0.08; /* #725550 */

  /* border-radius */
  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  /* border-width */
  --border-width: 0.0625rem; /* 1px */
  --border-i-width: 0.125rem; /* 2px */

  /* opacity */
  --opacity-moon: 0.6;

  /* fonts */
	--averta: "Averta Std";
  --dm-sans: 'DM Sans';

  /* box-shadow */
  --shadow-xs: 0 4px 12px -6px rgb(0 0 0 / 0.06);
  --shadow-sm: 0 6px 6px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-md: 0 12px 12px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-lg: 0 8px 24px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-xl: 0 32px 32px -8px rgb(0 0 0 / 0.08),
    0 0 32px -8px rgb(0 0 0 / 0.12), 0 0 1px rgb(0 0 0 / 0.2);
}
