@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&display=swap');

html,
body {
  font-family: var(--dm-sans), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-size-adjust: none; /* Prevent automatic zooming of fonts on some mobile devices. */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; /* Consistent font display behavior on OSX. */
  -moz-osx-font-smoothing: grayscale; /* Consistent font display behavior on OSX. */
  margin: 0;
  line-height: inherit;

  background: rgb(var(--goku));
  color: var(--foreground);
}

[for=plugin]{
   color:var(--foreground) !important;
}

.btn-primary {
  color: var( --btn-fg);
  background-color: var(--btn-bg);
  border-radius: 0.3rem !important;
  border: 1px solid  #E2107B;
}
.btn-secondary {
  background: none;
  box-shadow: inset 0 0 0 1px rgb(var(--trunks)/1);

  border-radius: 0.3rem !important;
  border: 1px solid var(--btn-sec-fg);
  color: var(--btn-sec-fg);
}

.btn-tertiary {
  color: var(--btn-fg);
  background-color: var(--btn-bg);
  border-radius: 0.3rem !important;
  border: 1px solid  #E2107B;
}

.bg-gohan {
  background-color: #fff;
}
.text-goten {
  --tw-text-opacity: 1;
  color: var(--link-text);
}

label[for="plugin"] > span {
  margin-right: 1rem;
}

a.active {
  background: #4e46b4;
  border-radius: 8px;
  color: white;
}

button.white {
  background: white;
  border: 1px solid #ffffff;
}

button.white>span>span {
  background: black;
    border: 1px solid #ffffff;
}
button.black{
  background-color: black;
  border: 0.2px solid #ffffff;
}

.container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

/** Backwards remove added style */

.dao-title, .dao-divider {
  display: none;
}

.dao-container {
  padding: 0;
}

.MuiSkeleton-rounded {
  border-radius: 8px;
}


/* Upload Image */

.upload{
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
}

.upload .round{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}