ETHEREUM_NODE_MAINNET=https://rpc-evm-sidechain.xrpl.org
ETHEREUM_NODE_POLYGON=

ETHERSCAN_API_KEY_MAINNET=
ETHERSCAN_API_KEY_POLYGON=

PRIVATE_KEY=b7d019bd7a184ed3a2fe702e1c4776d845f51f7b07c719d1a833eff8a37f00f9