.header {
  position: relative;
  background: linear-gradient(0deg, #EC1F52 -366.48%, #09013E 100%);
  color: var(--fg-header);
  box-shadow: 0px 12px 12px -6px rgba(0,0,0,.16);

  @media (min-width: 320px ) {
    zoom:0.6;
  }
  @media (min-width: 375px) {
    zoom:0.7;
  }
  @media (min-width: 425px) {
    zoom:0.8;
  }
  @media (min-width: 768px ) {
    zoom:1;
  }

}

.logo {
  display: inline-flex;
  cursor: pointer;
}
