.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(255, 176, 176);
  text-shadow: rgb(255, 87, 34) 2px 2px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 14px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(255, 176, 176);
  text-shadow: rgb(255, 87, 34) 1px 1px;
}

button {
  background: none;
  border: none;
}